<p id="notice"><%= notice %></p>

<div class="page-info">
  <%= page_entries_info(@request.response) %>
</div>

<section class="entries">
  <h1>Entries</h1>

  <% @request.response.entries.each do |entry| %>
  <section class="entry">
    <h2><%= link_to(entry.title, entry) %></h2>
    <p class="url"><%= entry._key %></p>
    <% entry.texts.each do |text| %>
    <pre><%= text %></pre>
    <% end %>
  </section>
  <% end %>
</section>

<%= paginate(@request.response) %>
