<!DOCTYPE html>
<html>
  <head>
    <title>Ranguba</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to("Ranguba", root_path, class: "home") %>
      </nav>
    </header>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
